<!--The title of the page-->
<h1 class="text-center">Burger Time</h1>

<!--The uneaten side-->
<div class="row">
  <div class="col-md-7 text-center">
    <!--Loop through the burgers and for each one create a paragraph with the name and a button to devour this option-->
    {{#each burgers}}
    {{#unless devoured}}
    <div class="row">
      <div class="col-md-8">
        <p class="lineHeight freshOptions mr-auto ml-auto">{{name}}</p>
      </div>
      <div class="col-md-4">
        <button class="change-devoured btn btn-danger lineHeight mr-auto ml-auto" data-id="{{id}}"
          data-newdevour="true">
          Devour It!
        </button>
      </div>
    </div>
    {{/unless}}
    {{/each}}


  </div>

<!--The eaten side-->
  <div class="col-md-5 text-center">
    <!--Loop through the eaten burgers and for each one create a paragraph with the name and a button to delete this eaten burger-->
    {{#each burgers}}
    {{#if devoured}}
    <div class="row">
      <div class="col-md-11">
        <p class="lineHeight eatenOptions mr-auto ml-auto">{{name}}</p>
      </div>
      <div class="col-md-1">
                <button class="delete-devoured btn btn-danger lineHeight mr-auto ml-auto" data-id="{{id}}">
          X
        </button>
      </div>
    </div>

    {{/if}}
    {{/each}}

  </div>
</div>


<div class="row">
  <div class="offset-md-3"></div>
  <div class="col-md-6">
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input class="form-control" type="text" id="ca" name="name">
        <small class="form-text text-muted">Enter a delicious burger flavour here to add it to your list.</small>
      </div>

      <button class="btn btn-primary" type="submit">Add Burger</button>
    </form>
  </div>
</div>