body {
    background-color: tan;
}


.freshOptions {
    background-color: lightgreen;
    border-radius: 25px;
}
.eatenOptions {
    background-color: lightgray;
    border-radius: 25px;
}

.lineHeight {
    display: block;
    padding: 1vh;
    border: 2vh;
    margin: 2vh;
}